name: gvp
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - python = 3.8
  - fastp
  - seqkit
  - pandas
  - bowtie2
  - samtools
  - pysam
  - diamond
  - vsearch
  - blast
  - megahit
  - checkv
  - biopython 
  - pyyaml
  - pandas
  - click
  - vsearch
  - git
  - cookiecutter
  - mamba